* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: "arial", "microsoft yahei", sans-serif;
	position: relative;
}

/*导航*/
.header {
	height: 80px;
	width: 100%;
	background-color: #F7F7F7;
	position: fixed;
}

.header_1 {
	height: 80px;
	width: 100%;
	background-color: #000000d6;
	position: fixed;
	color: #fff;
}

.header_nav {
	width: 1200px;
	height: 80px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	/* background-color: #D0E9C6; */
}

.header_nav_logo {
	width: 150px;
	height: 40px;
	background: url(../img/logo.png) no-repeat left center;
	text-indent: 60px;
	line-height: 40px;
	background-size: 40px 40px;
	margin-top: 20px;
	font-size: 20px;
	/* 	background-color: #F7E1B5; */
}

.header_nav_item {
	width: 730px;
	height: 80px;
	/* background-color: #C0C0C0; */
}

.header_nav_item {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.header_nav_item a {
	line-height: 80px;
	color: #292f35;
	text-decoration: none;
}

.header_nav_item a:hover {
	color: #f01400;
}

.btn {
	width: 100px;
	height: 35px;
	border-radius: 4px;
	border-width: 0px;
	color: #f4f4f5;
	background-color: #000;
	line-height: 35px;
	margin-top: 21px;
}

/* 小滑块 */
.header_nav_tip {
	position: absolute;
	top: 54px;
	height: 2px;
	width: 30px;
	background-color: #f01400;
	transition: all .5s;
}

/* 外部导航 */
.out_nav {
	position: fixed;
	right: 0;
	top: 185px;
	padding: 5px 10px;
	background-color: #fff;
	box-shadow: 0px 4px 12px 0px rgba(7, 17, 27, 0.1);
	z-index: 3;
	display: flex;
	flex-direction: column;
	width: 55px;
	height: 250px;
	text-align: center;
}

.out_nav_item a {
	display: block;
	text-decoration: none;
	width: 60px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #eee;
	text-align: center;
	color: #93999f;
	font-size: 10px;
	padding: 4px 0;
}

.out_nav_item a:last-child {
	border-bottom: none;
}

.out_nav_item a:hover {
	color: #f00f00;
}

/* 中间 */
.middle {
	width: 100%;
	background-color: #C4E3F3;
	display: flex;
	flex-direction: column;
	padding-top: 80px;
}

/* 小Z手机 */
/* screen_1 */
.screen_1 {
	width: 100%;
	height: 600px;
	background-color: #E7E7E7;
	display: flex;
	flex-direction: column;
	padding-top: 15px;
}

.screen_1_item {
	width: 1200px;
	height: 68px;
	/* background-color: #C0A16B; */
	margin: 0 auto;
	text-align: center;
}

.phone {
	font-size: 30px;
	color: #b71b26;
	text-decoration: none;
	line-height: 90px;
}

.phone_1 {
	font-size: 30px;
	color: #3e3f3f;
	text-decoration: none;
	line-height: 90px;
	margin-left: 8px;
}

.screen_1_img {
	width: 1200px;
	height: 753px;
	background: url(../img/screen-1-phone.png) no-repeat center;
	background-size: 90% 90%;
	margin: 0 auto;
}

.screen_1_img_1 {
	width: 1200px;
	height: 719px;
	background: url(../img/screen-1-phone.png) no-repeat center;
	background-size: 90% 90%;
	margin: 0 auto;
}

/* screen_2 手机设计*/
.screen_2 {
	width: 100%;
	height: 600px;
	background-color: #fafafa;
}

.screen_2_item {
	width: 1200px;
	height: 110px;
	/* background-color: #EBCCCC; */
	margin: 0 auto;
	text-align: center;
}

.screen_2_item a {
	font-size: 25px;
	color: #f01400;
	text-decoration: none;
	line-height: 127px;
}

.screen_2_item_1 {
	width: 1200px;
	height: 68px;
	/* background-color: #c7e4e7; */
	margin: 0 auto;
	text-align: center;
}

.screen_2_item_1 li {
	list-style: none;
	font-size: 15px;
	line-height: 35px;
	font-family: MicrosoftYaHei;
	color: #4b4f54;
}

.screen_2_item_2 {
	width: 1200px;
	height: 422px;
	background: url(../img/screen-2-phone.png) no-repeat center;
	background-size: 75%;
	background-position: 217px 71px;
	/* background-color: #EBCCCC; */
	margin: 0 auto;
}

/* 点加横线 */
.screen_2_point {
	width: 222px;
	height: 22px;
	background: url(../img/icon-point-right.png) no-repeat center left;
	padding-left: 111px;
	position: relative;
	left: 164px;
	top: 216px;
}

.screen_2_point span {
	color: #4d555d;
	font-size: 25px;
	line-height: 20px;
	margin-left: -214px;
}

.screen_2_point_right {
	width: 222px;
	height: 22px;
	background: url(../img/icon-point-left.png) no-repeat center left;
	padding-left: 111px;
	position: relative;
	left: 773px;
	top: 92px;
}

.screen_2_point_right span {
	color: #4d555d;
	font-size: 25px;
	line-height: 20px;
}

.screen_2_point_left {
	width: 222px;
	height: 22px;
	background: url(../img/icon-point-left.png) no-repeat center left;
	padding-left: 111px;
	position: relative;
	left: 870px;
	top: 326px;
}

.screen_2_point_left span {
	color: #4d555d;
	font-size: 25px;
	line-height: 20px;
}

/* screen_3 手机外观*/
.screen_3 {
	width: 100%;
	height: 500px;
	background: url(../img/bg-screen-3.png) no-repeat;
	/* background-color: #5BC0DE; */
}

.screen_3_item {
	width: 1200px;
	height: 500px;
	/* background-color: #C0C0C0; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
}

.waiguan {
	width: 600px;
	height: 500px;
	/* background-color: #E4B9C0; */
}

.waiguan_item_ul {
	width: 600px;
	height: 84px;
	margin-top: 40px;
	/* background-color: #C0A16B; */
}

.waiguan_item_ul li {
	list-style: none;
	margin-left: 30px;
}

.xiaoqiao {
	font-size: 25px;
	color: #fff;
	margin-bottom: 13px;
}

.xiaoqiao_1 {
	color: #fff;
	font-size: 9px;
	margin-top: 6px;
}

.waiguan_item {
	width: 600px;
	height: 240px;
	/* background-color: #D6E9C6; */
	margin-top: 80px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.waiguan_1 {
	width: 600px;
	height: 600px;
	background: url(../img/screen-3-phone.png) no-repeat;
	background-size: 100%;
	background-position: 0 -63px;
	/* background-color: #EC971F; */
}

.yingcun {
	width: 600px;
	height: 160px;
	display: flex;
	flex-direction: row;
	/* background-color: #EBCCCC; */
}

.yingcun_item {
	width: 150px;
	height: 150px;
	border: 1px solid #fff;
	border-radius: 3px;
	margin-top: 5px;
	margin-left: 29px;
	display: flex;
	flex-direction: column;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

.span_1 {
	font-size: 24px;
	margin-top: 38px;
}

.yingcun_item_1 {
	width: 150px;
	height: 150px;
	border: 1px solid #fff;
	border-radius: 3px;
	margin-top: 5px;
	margin-left: 12px;
	display: flex;
	flex-direction: column;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

.yingcun_1 {
	width: 600px;
	height: 160px;
	display: flex;
	flex-direction: row;
	/* background-color: #D58512; */
}

.touch {
	width: 150px;
	height: 150px;
	border: 1px solid #fff;
	border-radius: 3px;
	margin-top: 5px;
	margin-left: 29px;
	display: flex;
	flex-direction: column;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

.touch_1 {
	width: 150px;
	height: 150px;
	border: 1px solid #fff;
	border-radius: 3px;
	margin-top: 5px;
	margin-left: 12px;
	display: flex;
	flex-direction: column;
	color: #fff;
	text-align: center;
	line-height: 40px;
}

/* screen_4  手机型号*/
.screen_4 {
	width: 100%;
	height: 550px;
	background-color: #fff;
}

.screen_4_con {
	width: 1200px;
	height: 550px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	/* background-color: #5BC0DE; */
}

.xinghao {
	width: 1200px;
	height: 160px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	text-align: center;
	background-color: #fff;
}

.hao {
	font-size: 25px;
	color: #f34737;
	margin-top: 14px;
}

.hao_1 {
	font-size: 18px;
	color: #97999c;
	margin-top: -54px;
}

.xinghao_1 {
	width: 1200px;
	height: 340px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/* background-color: #F7E1B5; */
}

.xinghao_phone {
	width: 240px;
	height: 340px;
	display: flex;
	flex-direction: column;
	text-align: center;
	line-height: 25px;
	/* background-color: #C1E2B3; */
}

.xinghao_phone_1 {
	width: 240px;
	height: 270px;
	background: url(../img/phone-1.png) no-repeat;
	/* background-color: #EBCCD1; */
}

.xinghao_phone_item {
	color: #2c3238;
	margin-top: 14px;
	font-size: 20px;
}

.memory {
	color: #ccced1;
	font-size: 18px;
}

.xinghao_phone_2 {
	width: 240px;
	height: 270px;
	background: url(../img/phone-2.png) no-repeat;
	/* background-color: #EBCCD1; */
}

.xinghao_phone_3 {
	width: 240px;
	height: 270px;
	background: url(../img/phone-3.png) no-repeat;
	/* background-color: #EBCCD1; */
}

.xinghao_phone_4 {
	width: 240px;
	height: 270px;
	background: url(../img/phone-4.png) no-repeat;
	/* background-color: #EBCCD1; */
}

/* screen_5 游戏、学习*/
.screen_5 {
	width: 100%;
	height: 422px;
	background-color: #d9dde1;
}

.photograph {
	width: 1200px;
	height: 422px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	/* background-color: #D9534F; */
}

.photograph_item {
	width: 1200px;
	height: 126px;
	display: flex;
	flex-direction: column;
	/* background-color: #fff; */
	margin-top: 15px;
	text-align: center;
	line-height: 45px;
}

.game {
	font-size: 25px;
	color: #f01400;
	margin-top: 38px;
}

.video {
	color: #5c6065;
	font-size: 15px;
}

.photograph_img {
	width: 1200px;
	height: 280px;
	background: url(../img/bg-screen-5.png) no-repeat;
	background-size: 100%;
	background-position: 0px 88px;
	/* background-color: #D6E9C6; */
}

/* 立即购买 */
.screen_buy {
	width: 100%;
	height: 156px;
	background: url(../img/bg-screen-buy.png) no-repeat;
	background-size: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.btn_1 {
	width: 150px;
	height: 40px;
	color: #fff;
	background-color: #f01414;
	margin-top: 47px;
	margin-left: 64px;
	border: none;
	border-radius: 3px;
}

/* 底部 */
.footer {
	width: 100%;
	height: 80px;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #07111b;
}
